@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 47px;
  color: white;
  margin-bottom: 2em;
}

.App-header h1 {
  font-family: 'Roboto Mono', monospace;
  margin: auto
}
